---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  <!-- <div class="head-background" style="background-image: url('/assets/head/{{ page.title | slugify }}.png');"> -->
  <!-- </div> -->
  <img src="/assets/head/{{ page.title | slugify }}.png" alt="描述性文字" class="float-img">
  <!-- <img class="head-background" src="/assets/head/{{ page.title | slugify }}.png" alt="{{ page.title }}"> -->
  {{ content }}

</article>

<!-- <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
  var toc = document.querySelector('.sidebar');
  var generatedToc = document.querySelector('#markdown-toc'); // 假设这是由{:toc}生成的大纲的ID
  if (toc && generatedToc) {
    toc.appendChild(generatedToc);
  }
  });
</script> -->
